# Core notebooks
ipykernel
python-dotenv~=1.0
numpy>=1.24
protobuf<5

# Ciencia de datos
scikit-learn~=1.5
pandas~=2.2
matplotlib~=3.8
seaborn~=0.13
jupyterlab~=4.2

# MLflow + DagsHub
mlflow~=2.13
dagshub~=0.3

# LLMs
google-generativeai~=0.7
openai~=1.50
